<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" >
		<div>

		<iframe width="100%" height="300" ng-src="{{iframe_url}}" frameborder="0" allowfullscreen></iframe>
			
			<!--
  			<ion-slide-box  >
                  <ion-slide ng-repeat="item in Gallery">
                     
                  </ion-slide>
            </ion-slide-box>
			-->
        </div>
        <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/i1.png" ui-sref="app.contactsupplier({ItemId: diraData.agentindex})" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i2.png" ng-click="AddFavorite()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i3.png" ng-click="SharePage()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i4.png" ng-click="showMap()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i5.png" ng-click="dialSupplier(diraData.agentphone)"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        <div class="mainInfo" >
        	<div class="mainInfoText">
                <h3>{{diraData.name}}</h3>
                <h3 style="font-weight:300">{{diraData.address}}</h3>
                <h3>{{diraData.phone}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 0">&#8362;{{diraData.price | number}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 1">&#36;{{diraData.price | number}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 2">&#8364;{{diraData.price | number}}</h3>

            </div>

       </div>
       
       <div class="greyLine"></div>
	   
       <div class="mainInfo" align="center">
                <h4 ng-bind-html="diraData.desc" style="width:90%; font-size:15px; white-space: pre-line;"></h4>
       </div>
      
       <div class="greyLine"></div>
	   <div style="text-align:right; width:100%; overflow:hidden; margin-top:15px; margin-bottom:15px; margin-right:70px;">
            <span ng-repeat="item in diraData.properties" style="float:right; margin-right:10px;">
            	<img src="img/v.png" style="float:right; width:30px;"> 
            	<div style="float:right; width:80px;">{{item.name}}</div> 
            </span>   
	   </div>
            



         <div class="greyLine"></div>
		 
		 <div align="center" ng-if="diraData.imagegallery.length > 0">
			<h4 align="" style="direction:rtl;">תמונות:</h4>
            <div style="width:100%; overflow:hidden; margin-top:20px;">
                <div  ng-repeat="item in diraData.imagegallery" style="width:33%; float:right;">
                    <img src="{{serverHost}}/{{item.image}}" ng-click="showImgPopUp(item.image)" style="width:100%;" />
                </div>		
			</div>
		</div>


         <div class="greyLine"></div>
		 
		 <div align="center" ng-if="diraData.measuresgallery.length > 0">
			<h4 align="" style="direction:rtl;">מדידות:</h4>
            <div style="width:100%; overflow:hidden; margin-top:20px;">
                <div  ng-repeat="item in diraData.measuresgallery" style="width:33%; float:right;">
                    <img src="{{serverHost}}/{{item.image}}" ng-click="showImgPopUp(item.image)" style="width:100%;" />
                </div>		
			</div>
		</div>
		
		
		
		

		
		 <div class="greyLine"></div>
		 
		 
		 <h4 style="direction:rtl; color:#333 " align="center">רוצים לקבל עוד פרטים צרו איתנו קשר</h4>
		 
		<div style="width:100%; overflow:hidden;">
		
			<div style="width:30%; float:right;  text-align:center;">
			  <img src="{{serverHost}}/{{diraData.agentimage}}" ui-sref="app.agent({ItemId: diraData.agentindex})" style="width:90%; height:100px;">
			</div>
			<div style="width:40%; float:right; ">
			  <h3 style="font-size:15px; direction:rtl; margin-top:10px;">{{diraData.agentname}}</h3>
			  <p style="direction:rtl;" ng-click="dialSupplier()">{{diraData.agentphone}}</p>
			  <p style="direction:rtl;" ng-click="mailSupplier()">{{diraData.agentemail}}</p>
			</div>		
			<div style="width:30%; float:left; margin-top:20px;  text-align:center;">
			  <img src="{{serverHost}}/{{supplierInfo.image}}" ui-sref="app.supplierinfo({ItemId: supplierInfo.index})" style="width:50%;">
			</div>			
		</div>

		


    </ion-content>





</ion-view>
