<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" overflow-scroll="true">
	
	
		<div>

		<div align="center" ng-if="Favorites.length == 0">
			<p>לא נמצאו מועדפים</p>
		</div>

		
        <div class="ListRow" ng-repeat="item in Favorites " >
		
            <div class="ListRight" ng-click="deleteFav($index)" style="margin-top:22px; width:10% !important;">
				<i class="ion-trash-a" style="font-size:30px;"></i>
            </div>
			
            <div class="ListRight" ui-sref="app.details({ItemId:item.index})">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter"  ui-sref="app.details({ItemId:item.index})">
            	<h3>{{item.name}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> <span style="direction:rtl;">{{item.price}}&#8362;</span></h4>
            </div>

			
			
			
            <div class="ListLeft" ui-sref="app.details({ItemId:item.index})">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 		
		
        </div>
       
    </ion-content>





</ion-view>
