<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
	
    <div class="bar bar-subheader" style="height:50px;"  align="center">
  		<table class="SearchTable" align="center">
        	<tr>
            	<td class="TDsearch">
                	מיון לפי
                </td>
                <td ng-class="TypeSelected == 1 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(1)">
                	 מחיר 
                </td>
                <td ng-class="TypeSelected == 2 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(2)">
                	מרחק
                </td>
			

            </tr>
        </table>
	</div>
	
    <ion-content class="has-subheader" style="background-color:#fff9f1">
		<div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
		<!-- NG - Repeat -->
		<!-- | orderBy:arrangeBy -->
		
        <div class="ListRow" ng-repeat="item in searchArray | orderBy:arrangeBy" ui-sref="app.details({ItemId:item.index})">
            <div class="ListRight">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> 
				<span style="direction:rtl;" ng-if="item.currency == 0">&#8362;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 1">&#36;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 2">&#8364;{{item.price | number}}</span>				</h4>
            </div>



			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div>       

    </ion-content>
</ion-view>
