<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" overflow-scroll="true">
	
	
		<div>

		<div class="list">
			<div class="supllierHeader" align="center">
            	<div>
            		משרדי תיווך
                </div>
            </div>
		</div>	
		

		
        <div class="ListRow" ng-repeat="item in suppliersList | orderBy:item.name:true" ui-sref="app.supplierinfo({ItemId:item.index})">
            <div class="ListRight">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
				<h4>{{item.phone}}</h4>
				<h4>{{item.email}}</h4>
				<h4>{{item.website}}</h4>
            </div>



			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 		
		
        </div>
       
    </ion-content>





</ion-view>
