<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content class="content" style="background-color:white">



      <div class="searchInput" align="center" style="margin-top:20px;" >
      		 <div class="searchInputDiv">
					<div style="direction:rtl;">   

					
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="שם מלא" class="ion-input-select--large itemSelectedBoxQ" ng-model="contact.name">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>

						
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="tel"   placeholder="טלפון" class="ion-input-select--large itemSelectedBoxQ" ng-model="contact.phone">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>


                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="email"   placeholder="מייל" class="ion-input-select--large itemSelectedBoxQ" ng-model="contact.mail">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>

						
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
										<textarea placeholder="כתוב את הודעתך כאן" rows="4" cols="50" ng-model="contact.desc" class="ion-input-select--large itemSelectedBoxQ" ></textarea>
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
						
                    </div>
					

                    <div style="margin-top:10px;" ng-click="SendContact()">
      					<img src="img/sendorange.png"  style="width:100%;" />
      				</div>

					
					
             </div>
      </div>	


  </ion-content>





</ion-view>
