<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
	
    <ion-content class="content">
	


		  
    	<div class="mainSearchBoxDiv" align="center">
            <div class="mainSearchBox">
                <div class="mainSearchBoxRight">
                    <div style="border-bottom:2px solid #f78c39;">
                        <input type="text" style="width:100%;" placeholder="חיפוש לפי שם פרויקט" ng-model="fields.search" ng-keypress="enterPress($event)" />
                    </div>
                </div>
                <div class="mainSearchBoxLeft" align="center" >
                    <div  align="right" ng-click="doSearch()" > 
                        <img src="img/search.png" style="width:39px; height:36px; border:1px solid #f78c39;" />
                    </div>
                </div> 
            </div>
        </div>
		
        <div style="width:100%" align="center" ui-sref="app.search()">
            <div style="width:94.5%; margin-top:5px;">
                <img src="img/searchbt.jpg" style="width:100%" />
            </div>
         </div>
         
		

        <div class="mainPageVideo" align="center" ng-if="$index == 0" ng-repeat="item in searchArray | filter: { mainpage: '1' }">
        	<div class="mainPageVideoInsideDiv" >
			<iframe width="100%" height="300" src="{{mainiframeURL}}" frameborder="0" allowfullscreen></iframe>
            </div>
			<p></p>
        	
		<div class="mainInfo" >
        	<div class="mainInfoRight" ui-sref="app.details({ItemId:item.index})">
                <div class="mainVideoText">
                   {{item.address}}  | {{item.rooms}} חדרים
                </div>
                <div class="mainVideoPrice">
                    {{item.price | number}} 
					<span style="width:20px !important; font-size:20px;" ng-if="item.currency == 0">&#8362;</span>
					<span style="width:20px !important; font-size:20px;" ng-if="item.currency == 1">&#36;</span>
					<span style="width:20px !important; font-size:20px;" ng-if="item.currency == 2">&#8364;</span>
                </div>
            </div>
            <div class="mainInfoLeft" align="center" ui-sref="app.details({ItemId:item.index})">
            	<div style="width:70%">
            		<img  src="img/info.png" style="width:100%;" />
                </div>
          	</div>
        </div>
      </div>       
        
		<div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
		<!-- NG - Repeat -->
		<!-- | orderBy:arrangeBy 686868-->
		
        <div class="ListRow" ng-repeat="item in searchArray " ui-sref="app.details({ItemId:item.index})">
            <div class="ListRight">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> 
				<span style="direction:rtl;" ng-if="item.currency == 0">&#8362;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 1">&#36;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 2">&#8364;{{item.price | number}}</span>
				</h4>
            </div>


		
			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 
		
		<div  style="background-color:#fff;" align="center">
			<h4>דברו איתנו | משרדי תיווך </h4>
			
		<div style="width:100%; overflow:hidden;">
			<div style="width:25%; float:right;" ng-repeat="item in generalSuppliers | limitTo: 8 | orderBy : 'index'" ui-sref="app.supplierinfo({ItemId: item.index})">
				<img src="{{serverHost}}/{{item.image}}" style="width:100%;" />
			</div>		
		</div>
		
		<button class="button button-block button-positive" ui-sref="app.suppliers()">
		  כל משרדי התיווך
		</button>

		
		</div>
		
		
		
		<!--
        <div class="iconsRow">
        	<table>
            	<tr>
                	<td class="tdIcon" >
                    	<img src="img/logo/l1.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l2.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l3.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l4.png" style="width:100%;" />
                    </td>
                <tr>
                <tr style="margin-top:-4px;">
                    <td class="tdIcon">
                    	<img src="img/logo/l5.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l1.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l2.png" style="width:100%;" />
                    </td>
                    <td class="tdIcon" >
                    	<img src="img/logo/l3.png" style="width:100%;" />
                    </td>
                </tr>
            </table>
        </div>
	-->
		
		
  </ion-content>
</ion-view>
