<ion-modal-view>
  <ion-header-bar style="background:#F88D3B;">
    <h1 class="title"> <img class="title-image" src="img/logo.png" /></h1>
    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeMapModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content style="background-color:#fff9f1">
  
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">

                    <div >
						<div id="videoWrapper" class="videoWrapper">
							
							<iframe id="VideoPlayer" width="100%" height="349" ng-src="{{map_url}}" frameborder="0" allowfullscreen></iframe>

						</div>						
                    </div>

             </div>
      </div>  
  
  

  </ion-content>
</ion-modal-view>
