<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" overflow-scroll="true">
	
	
		<div>

		<div class="list">
			<div class="supllierHeader" align="center">
            	<div>
            		{{supplierInfo.name}} | {{supplierInfo.supplier_type}}  
                </div>
            </div>
			<div class="supplierInfo" style="margin-top:2px; padding-top:20px; padding-bottom:20px;"  >
            	<div class="supplierInfoRight" align="center">
                	<div style="width:70%">
			  			<img src="{{serverHost}}/{{supplierInfo.image}}" ui-sref="app.supplier({ItemId: supplierInfo.index})" style="width:100%;">
                   </div>
                </div>
                <div class="supplierInfoLeft">
                  <p style="direction:rtl; color:white; margin-right:5px;" ng-click="dialSupplier(supplierInfo.phone)"><span style="margin-left:15px; margin-top:13px;"> <img src="img/sicon1.png" style="width:12px; marging-right:3px;" /></span>{{supplierInfo.phone}}</p>
                   <p style="direction:rtl; color:white" ng-click="mailSupplier(supplierInfo.email)"><span style="margin-left:10px; margin-top:13px;"> <img src="img/sicon2.png" style="width:20px; marging-right:3px;" /></span>{{supplierInfo.email}}</p>
                    <p style="direction:rtl; color:white" ><span style="margin-left:10px; margin-top:13px;"> <img src="img/sicon3.png" style="width:20px; marging-right:3px;" /></span>{{supplierInfo.address}}</p>
                
                  
                 
                </div>
			</div>

		</div>	
		

		
        <div class="ListRow" ng-repeat="item in supplierList " ui-sref="app.details({ItemId:item.index})">
            <div class="ListRight">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> <span style="direction:rtl;">{{item.price}}&#8362;</span></h4>
            </div>



			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 		
		
        </div>
       
    </ion-content>





</ion-view>
