<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" >
	
	
		<div style="width:100%;">
		
		<p style="white-space: pre; text-align:right; direction:rtl; ">
		ארכיטקטים ומעצבים.
		בתי עסק בכל התחומים.
		ועוד רבים וטובים.

		כמה מכם ניסיתם לקדם, לפתח ולהצליח בעסקכם?

		אנו מבטיחים לתת שירות איכותי שימלא את ציפיותיכם מעבר לכל דימיון.
		ביחד עם טכלוגיה חדישה ואנשי צוות איכותיים 
		נגשים עבורכם את חלומותיכם.

		ומה נציע לכם?


		- סיור וירטואלי באיכות הגבוהה ביותר!

		- הקטנת סיכון וחסכון אדיר בכסף!

		- אפשרויות שיווק מרובות!

		- חסכון בזמני תיאום ולוגיסטיקה!

		- אפשרויות מדידת המוצר המצולם בדיוק הסנטימטר!

		- כלים נוחים ויעילים יותר להגעה ללקוחותיכם!


		כי אנחנו כאן עבורכם!
		נותנים שירות מקצה לקצה!

		חברת V360 בע״מ
		ראית. בחרת. קנית.
		</p>	
		
        </div>
       
    </ion-content>





</ion-view>
