<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
    <ion-content style="background-color:#fff9f1" overflow-scroll="true">
	
	
		<div>

		<div class="list">
			<div class="supllierHeader" align="center">
            	<div>
            		{{agentInfo.name}} | {{agentInfo.suppliername}}  
                </div>
            </div>
			<div class="supplierInfo" style="margin-top:2px; padding-top:20px; padding-bottom:20px;"  >
            	<div class="supplierInfoRight" align="center" style="">
                	<div style="width:70%">
			  			<img src="{{serverHost}}/{{agentInfo.image}}"  style="width:100%;">
                   </div>
                </div>
                <div class="supplierInfoLeft" style="width:40%; ">
                  <p style="direction:rtl; color:white; margin-right:5px;" ng-click="dialSupplier(agentInfo.phone)"><span style="margin-left:15px; margin-top:13px;"> <img src="img/sicon1.png" style="width:12px; marging-right:3px;" /></span>{{agentInfo.phone}}</p>
                   <p style="direction:rtl; color:white" ng-click="mailSupplier(agentInfo.email)"><span style="margin-left:10px; margin-top:13px;"> <img src="img/sicon2.png" style="width:20px; marging-right:3px;" /></span>{{agentInfo.email}}</p>
                    <p style="direction:rtl; color:white" ><span style="margin-left:10px; margin-top:13px;"> <img src="img/sicon3.png" style="width:20px; marging-right:3px;" /></span>{{agentInfo.address}}</p>
                </div>
				
				<div style="float:right; width:30%;" style="" ui-sref="app.supplierinfo({ItemId:agentInfo.supplierindex})">                	
			  			<img src="{{serverHost}}/{{agentInfo.supplierimage}}"  style="width:50%;">
				</div>
				
			</div>

		</div>	
		

        <div class="ListRow" ng-repeat="item in agentInfo.deals " ui-sref="app.details({ItemId:item.index})">
            <div class="ListRight">
				<img  ng-src="{{serverHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.name}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> 
				<span style="direction:rtl;" ng-if="item.currency == 0">&#8362;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 1">&#36;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 2">&#8364;{{item.price | number}}</span>	
				</h4>
            </div>


		
			
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 		
		
		
        </div>
       
    </ion-content>





</ion-view>
