<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close href="#/app/main" style="direction:rtl;">
          ראשי
        </ion-item>

		
        <ion-item menu-close href="#/app/about" style="direction:rtl;">
          מי אנחנו
        </ion-item>

        <ion-item menu-close href="#/app/contact" style="direction:rtl;">
          צור קשר
        </ion-item>
		
        <ion-item menu-close href="#/app/favorites" style="direction:rtl;">
          מועדפים
        </ion-item>	
		
        <ion-item menu-close href="#/app/search" style="direction:rtl;">
          חיפוש מתקדם
        </ion-item>		
		
		<div align="center" style="margin-top:10px; ">
		<span><img src="img/en.png"></span>
		<span><img src="img/heb.png"></span>
		</div>
		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
