<ion-view view-title="">
	<ion-nav-title align-title="left" style="width:200px">
        <img class="title-image" src="img/logo.png" style="width:200px; margin-top:5px" />
    </ion-nav-title>
	
  <ion-content style="background-color:#fff9f1">

      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
             		<p class="sInputTitle">אזור</p>
             		<label class="item item-input item-select itemSelected">
                        <div class="input-label itemSelectedLabel" >
                          אזור
                        </div>
                        <select class="ion-input-select--large itemSelectedBox" ng-model="search.area">
							<option  value="">הכל</option>
                            <option value="{{key}}" ng-if="$index > 0" ng-repeat="(key, value) in areas">{{value}} </option>	
                        </select>
                    </label>

					<p class="sInputTitle mt10">סוג הנכס</p>
             		<label class="item item-input item-select itemSelected" style="margin-top:10px;">
                        <div class="input-label itemSelectedLabel" >
                          סוג הנכס
                        </div>
                        <select class="ion-input-select--large itemSelectedBox" ng-model="search.sugdira">
							<option  value="">הכל</option>
                            <option value="0">קוטג</option>
                            <option value="1">בית פרטי</option>
                            <option value="2">בניין מגורים</option>
                            <option value="3">דירת גן</option>
                            <option value="4">פנטהאוז</option>
                        </select>
                    </label>

					<p class="sInputTitle mt10">מספר חדרים</p>
                         <label class="item item-input item-select itemSelected" style="margin-top:8px; ">
                            <div class="input-label itemSelectedLabel" >
                               מספר חדרים
                            </div>
							<input type="tel"  style="margin-left:30px; margin-top:-3px;"  class="ion-input-select--large itemSelectedBox" ng-model="search.rooms">

                         </label>

						<!--
						  <label class="item item-input">
							<span class="input-label">עד מחיר</span>
								<rzslider 
								rz-slider-floor="search.floor" 
								rz-slider-ceil="search.ceil"
								rz-slider-model="search.price"
								rz-slider-high="search.high" style="width:50%;" class="ion-input-select--large itemSelectedBox">
								</rzslider>		
																				
							</label>
					-->
						<p class="sInputTitle mt10">ממחיר</p>
                         <label class="item item-input item-select itemSelected" style="margin-top:8px; ">
                            <div class="input-label" style="color:#fff;">
                               מחיר
                            </div>
							<input type="tel"  style="margin-left:30px; margin-top:-3px;"  class="ion-input-select--large itemSelectedBox" ng-model="search.price">

                         </label>
						 <p class="sInputTitle mt10">עד מחיר</p>
                         <label class="item item-input item-select itemSelected" style="margin-top:8px; ">
                            <div class="input-label" style="color:#fff;">
                               עד מחיר
                            </div>
							<input type="tel"  style="margin-left:30px; margin-top:-3px;"  class="ion-input-select--large itemSelectedBox" ng-model="search.high">

                         </label>

						 
						 
				 
			
                    <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                    

                    <div class="searchLine">
                    </div>

                    <div style="margin-top:30px;" ng-click="searchBtn()">
      					<img src="img/sendorange.png"  style="width:100%;" />
      				</div>	
             </div>
      </div>
  </ion-content>
</ion-view>
