.mt10
{
	margin-top:10px;
}

.content
{
	background-color:#f2f2f2;
}

.searchInput
{
	width:100%;
	margin-top:20px;
}


.searchInputDiv
{
	width:90%;
}

.itemSelected
{
	background-color:#fff !important
}


.itemSelectedQ
{
	background-color:#fff !important;
	border:none;
}

.itemSelectedLabel
{
	color:#fff !important;
	text-align:right !important;
	float:right
}

.itemSelectedLabelQ
{
	color:#f1f1f1 !important;
}

.itemSelectedBox
{
	color:#b6b6b6 !important; 
	background-color:#fff !important;
}

.itemSelectedBoxQ
{
	color:#b6b6b6  !important; 
	background-color:#ef2275 !important;
}


.itemSelectedBoxQ
{
	color:#333 !important; 
	background-color:#f1f1f1 !important;
	border:none;
}


.searchLine
{
	background-color:#CCC;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
	height:1px;
}

/* List Page*/

.SearchTable
{
	direction:rtl;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTable td
{
	padding:10px;
	padding-top:7px;
}

.TDsearch
{
	margin-left:10px;
	color:#555555;
	font-weight:bold;
}

.TDtype
{
	color:#a9a9a9;
}

.TDtypeActive
{
	background-color:#F88D3B;
	color:white;
	border-radius:3px;
}


.ListRow
{
	overflow:hidden;
	width:100%;
}

.ListRight
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight img
{
	border:4px solid #d5d6d5
}

.ListLeft
{
	width:10%;
	padding-left:20px;
	float:left;
	margin-top:30px;
}

.ListCenter
{
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter h3
{
	font-size:16px;
	color:#686868;
	font-weight:bold;
}

.ListCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#686868;
}

.ListCenter div
{
	margin-top:-8px;
}

.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}

.mainInfoText
{
	float:right;
	width:60%;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:#686868;
}

.mainInfo h4
{
	font-size:14px;
	color:#808080;
	line-height:1.4;
	font-weight:bold;
}



/* Main Page */

.mainSearchBoxDiv
{
	width:100%;
	margin-top:-10px;
}
.mainSearchBox
{
	overflow:hidden;
	width:95%;
}

.mainSearchBoxRight
{
	width:91%;
	float:right;
}

.mainSearchBoxRight div
{
	width:100%;
	margin-top:20px;
}

.mainSearchBoxRight div input
{
	text-align:right;
	padding-right:10px;
	padding-top:-23px;
}

.mainSearchBoxLeft
{
	width:8.5%;
	float:right;
}

.tdIcon
{
	width:24%;
	padding:0.5%;
}

.mainSearchBoxLeft div
{
	width:100%;
	margin-top:20px;
}


.mainPageVideo
{
	width:100%;
}

.mainPageVideoInsideDiv
{
	width:95%;
	margin-top:10px;
}

.loading 
{
	direction:rtl;
}

.mainVideoText
{
	color:#686868;
	direction:rtl;
	margin-right:10px;
	font-size:16px;
}

.mainVideoPrice
{
	color:#f78e3b;
	direction:rtl;
	margin-right:10px;
	font-size:20px;
	margin-top:3px;
	font-weight:bold;
}

.greyLine
{
	width:100%;
	height:1px;
	background-color:#898888;
	margin:1px;
}

.mainInfo
{
	overflow:hidden;
	width:100%;
}

.mainInfoRight
{
	width:60%;
	float:right;
}

.mainInfoLeft
{
	width:37%;
	float:left;
	margin-top:4px;
}



















/* supllier Page*/

.supllierHeader
{
	background-color:#f5842c;
	font-size:22px;
	color:white;
	padding:6px;
	padding-top:10px;
	padding-bottom:15px;
}

.supplierInfo
{
	width:100%;
	overflow:hidden;
	background-color:#f5842c;
}

.supplierInfoLeft
{
	width:60%;
	float:right;
}

.supplierInfoRight
{
	width:30%;
	float:right;
}

.sInputTitle
{
	text-align:right;
	color:#888888;
	font-size:15px;
	font-weight:bold;
}




/*Info modal layout*/

.infoMainDiv .popup
{
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 430px;
}

.infoMainDiv .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.infoBlock {
    margin-top: 20px;
}

.infoMainImg {
    width: 94%;
    margin: 0 3%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.infoPlaceHolder {
	background-color:white;
	overflow:hidden;
    width: 94%;
    margin: -5px 3% 0 3%;
    padding: 5px;
}

.infoCloseButton {
	right:-10px;
	top:2px;
	position:absolute;
}

.infoLogo
{
	float:right;
	width:20%;
    padding-top: 10px;
}

.infoText
{
	float:right;
	width:60%;
	padding:5px 5px 5px 0;
	text-align:right;
}

.infoTextTitle
{
	font-size:15px;
	font-weight:bold;
}

.infoTextDesc
{
    width: 100%;
	margin-top:-10px;
}

.infoButtons {
    float: left;
    width: 20%;
}

.infoStar {
    padding: 10px 5px 5px 10px;
}

.infoPhone
{
    padding: 5px 5px 5px 10px;
}

/*End of info modal layout*/





































